<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>waterSystemGroup</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="css/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="css/morris.css" rel="stylesheet">
        
        <link href ="css/toggle-switch.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
       
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">IoT</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="/home"><i class="fa fa-home fa-fw"></i> Home</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <%= email%> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li> 
                            
                                <form  action="/logout?_method=DELETE" method="POST">
                                 <button style="padding-left: 3rem; padding-right: 6rem;
                                        "type="submit"><i class="fa fa-sign-out fa-fw"></i> Logout
                                         </button> 
                                </form>
                          
                            
                            
                        
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="/home" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="/stats" class="active"><i class="fa fa-dashboard fa-fw"></i> Statistics</a>
                               
                                <!-- /.nav-second-level -->
                            </li>
                            
                           
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Automatic watering system</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row" id ="info">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-thermometer fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                          
                                            <div class="huge" id="tempUpdate"></div>
                                            <div>Temperature!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Last 24 hours</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tint fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge" id ="humidUpdate"></div>
                                            <div>Humidity!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Last 24 hours </span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-toggle-on fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge" id ="toggleUpdate"></div>
                                            <div>Relay status</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Last 24 hours</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-thermometer-empty fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge" id = "soilUpdate"></div>
                                            <div>Soil moisture</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Last 24 hours</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                
                    <!-- Rounded switch -->
                    <!-- <label class="switch">
                        <form action="/home" method="POST">
                        <input type="checkbox"id = "toggleButton" name ="toggleButton" value ="false" 
                        style ="color:blue" onclick = "toggle(this);"></input>
                        <span class="slider round"></span>
                    </form>
                    </label> -->
                    <form action="/home" method="POST">
                        <input type = "submit" id = "autoButton" class="btn btn-lg btn-primary" name ="autoButton"value ="AUTO ON" 
                        style ="color:blue" onclick = "toggleAuto(this);"></input>
                    </form>
                    
                    <form action="/home" method="POST">
                    <input type = "submit" id = "toggleButton" class="btn btn-lg btn-primary" name ="toggleButton"value ="MANUAL OFF" 
                    style ="color:blue" onclick = "toggleToggle(this);"></input>
                    </form>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Recent stats
                                    <div class="pull-right">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                      
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div id="temp-humid-line" style="width:90%;height:250px;"></div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Recent update
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            
                                          
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class=" ">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                           
                                                    <thead>
                                                    <tr>
                                                        <th>#ID</th>
                                                        <th>Temperature</th>
                                                        <th>Date</th>                                              
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                            <tr>
                                                                <th scope="row" id = "tempID1"></th>
                                                                <td id = "tempVal1"></td>
                                                                <td id = "tempDate1"></td>     
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" id = "tempID2"></th>                                                           
                                                                <td id = "tempVal2"></td>
                                                                <td id = "tempDate2"></td>   
                                                            </tr> 
                                                            <tr>
                                                                <th scope="row" id = "tempID3"></th>
                                                                <td id = "tempVal3"></td>
                                                                <td id = "tempDate3"></td>                                                   
                
                                                            </tr>
                                                     
                                                    </tbody>

                                                    <thead>
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Humidity</th>
                                                            <th>Date</th>                                              
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                                                                                  
                                                            <tr>
                                                                <th scope="row" id = "humidID1"></th>
                                                                <td id = "humidVal1"></td>
                                                                <td id = "humidDate1"></td>     
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" id = "humidID2"></th>                                                           
                                                                <td id = "humidVal2"></td>
                                                                <td id = "humidDate2"></td>   
                                                            </tr> 
                                                            <tr>
                                                                <th scope="row" id = "humidID3"></th>
                                                                <td id = "humidVal3"></td>
                                                                <td id = "humidDate3"></td>                                                   
                
                                                            </tr>
                                                     
                                                        </tbody>

                                                        <thead>
                                                            <tr>
                                                                <th>#ID</th>
                                                                <th>Relay Value</th>
                                                                <th>Date</th>                                              
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row" id = "toggleID1"></th>
                                                                    <td id = "toggleVal1"></td>
                                                                    <td id = "toggleDate1"></td>     
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row" id = "toggleID2"></th>                                                           
                                                                    <td id = "toggleVal2"></td>
                                                                    <td id = "toggleDate2"></td>   
                                                                </tr> 
                                                                <tr>
                                                                    <th scope="row" id = "toggleID3"></th>
                                                                    <td id = "toggleVal3"></td>
                                                                    <td id = "toggleDate3"></td>   
                                                                </tr>
                                                            </tbody>
                                                  
                                                            <thead>
                                                                <tr>
                                                                    <th>#ID</th>
                                                                    <th>Soil Moisture</th>
                                                                    <th>Date</th>                                              
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" id = "soilID1"></th>
                                                                        <td id = "soilVal1"></td>
                                                                        <td id = "soilDate1"></td>     
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" id = "soilID2"></th>                                                           
                                                                        <td id = "soilVal2"></td>
                                                                        <td id = "soilDate2"></td>   
                                                                    </tr> 
                                                                    <tr>
                                                                        <th scope="row" id = "soilID3"></th>
                                                                        <td id = "soilVal3"></td>
                                                                        <td id = "soilDate3"></td>   
                                                                    </tr>
                                                                </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>
                                        
                                        <!-- /.col-lg-4 (nested) -->
                                        
                                        <!-- /.col-lg-8 (nested) -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                            
                        <!-- /.col-lg-8 -->
                        
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
        <script type="text/javascript">
            
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
                 
            const tempUpdate = document.querySelector('#tempUpdate')
            const humidUpdate = document.querySelector('#humidUpdate')
            const toggleUpdate = document.querySelector('#toggleUpdate')
            const soilUpdate = document.querySelector('#soilUpdate')
                //temp
            const tempID1 = document.querySelector('#tempID1')
            const tempID2 = document.querySelector('#tempID2')
            const tempID3 = document.querySelector('#tempID3')
            const tempVal1 = document.querySelector('#tempVal1')
            const tempVal2 = document.querySelector('#tempVal2')
            const tempVal3 = document.querySelector('#tempVal3')
            const tempDate1 = document.querySelector('#tempDate1')
            const tempDate2 = document.querySelector('#tempDate2')
            const tempDate3 = document.querySelector('#tempDate3')
                //humid
            const humidID1 = document.querySelector('#humidID1')
            const humidID2 = document.querySelector('#humidID2')
            const humidID3 = document.querySelector('#humidID3')
            const humidVal1 = document.querySelector('#humidVal1')
            const humidVal2 = document.querySelector('#humidVal2')
            const humidVal3 = document.querySelector('#humidVal3')
            const humidDate1 = document.querySelector('#humidDate1')
            const humidDate2 = document.querySelector('#humidDate2')
            const humidDate3 = document.querySelector('#humidDate3')
                //toggle
            const toggleID1 = document.querySelector('#toggleID1')
            const toggleID2 = document.querySelector('#toggleID2')
            const toggleID3 = document.querySelector('#toggleID3')
            const toggleVal1 = document.querySelector('#toggleVal1')
            const toggleVal2 = document.querySelector('#toggleVal2')
            const toggleVal3 = document.querySelector('#toggleVal3')
            const toggleDate1 = document.querySelector('#toggleDate1')
            const toggleDate2 = document.querySelector('#toggleDate2')
            const toggleDate3 = document.querySelector('#toggleDate3')
                //soil
            const soilID1 = document.querySelector('#soilID1')
            const soilID2 = document.querySelector('#soilID2')
            const soilID3 = document.querySelector('#soilID3')
            const soilVal1 = document.querySelector('#soilVal1')
            const soilVal2 = document.querySelector('#soilVal2')
            const soilVal3 = document.querySelector('#soilVal3')
            const soilDate1 = document.querySelector('#soilDate1')
            const soilDate2 = document.querySelector('#soilDate2')
            const soilDate3 = document.querySelector('#soilDate3')
            socket.on('info',(info)=>{ 
                var xtempdate = []
                var ytempval  = []
                var xhumiddate = []
                var yhumidval  = []   
                for(let i = 0; i < 3; i++) {
                    xtempdate.splice(i,0,info.tempsList[i].datetime)
                    ytempval.splice(i, 0, info.tempsList[i]._temp)
                    xhumiddate.splice(i,0,info.humidsList[i].datetime)
                    yhumidval.splice(i, 0, info.humidsList[i]._humidity)
                }

                var trace1 = {
                        x:     xtempdate,
                        y:     ytempval,
                        type: 'scatter',
                        mode: "lines",
                        name: "Temperature",
                        line: {color: '#7F7F7F'}
                }
                var trace2 = {
                        x:     xhumiddate,
                        y:     yhumidval,
                        type: 'scatter',
                        mode: "lines",
                        name: "Humidity",
                        line: {color: '#17BECF'}
                }
                var data = [trace1, trace2]

                Plotly.newPlot('temp-humid-line', data);
                
                

                tempUpdate.textContent = info.tempsList[0]._temp;  
                humidUpdate.textContent = info.humidsList[0]._humidity;          
                toggleUpdate.textContent = info.togglesList[0]._value;          
                soilUpdate.textContent = info.soilsList[0]._soil;          

                tempID1.textContent = info.tempsList[0]._id;
                tempVal1.textContent = info.tempsList[0]._temp;
                tempDate1.textContent = info.tempsList[0].datetime;
                tempID2.textContent = info.tempsList[1]._id;
                tempVal2.textContent = info.tempsList[1]._temp;
                tempDate2.textContent = info.tempsList[1].datetime;
                tempID3.textContent = info.tempsList[2]._id;
                tempVal3.textContent = info.tempsList[2]._temp;
                tempDate3.textContent = info.tempsList[2].datetime;

                humidID1.textContent = info.humidsList[0]._id;
                humidVal1.textContent = info.humidsList[0]._humidity;
                humidDate1.textContent = info.humidsList[0].datetime;
                humidID2.textContent = info.humidsList[1]._id;
                humidVal2.textContent = info.humidsList[1]._humidity;
                humidDate2.textContent = info.humidsList[1].datetime;
                humidID3.textContent = info.humidsList[2]._id;
                humidVal3.textContent = info.humidsList[2]._humidity;
                humidDate3.textContent = info.humidsList[2].datetime;

                toggleID1.textContent = info.togglesList[0]._id;
                toggleVal1.textContent = info.togglesList[0]._value;
                toggleDate1.textContent = info.togglesList[0].datetime;
                toggleID2.textContent = info.togglesList[1]._id;
                toggleVal2.textContent = info.togglesList[1]._value;
                toggleDate2.textContent = info.togglesList[1].datetime;
                toggleID3.textContent = info.togglesList[2]._id;
                toggleVal3.textContent = info.togglesList[2]._value;
                toggleDate3.textContent = info.togglesList[2].datetime;

                soilID1.textContent = info.soilsList[0]._id;
                soilVal1.textContent = info.soilsList[0]._soil;
                soilDate1.textContent = info.soilsList[0].datetime;
                soilID2.textContent = info.soilsList[1]._id;
                soilVal2.textContent = info.soilsList[1]._soil;
                soilDate2.textContent = info.soilsList[1].datetime;
                soilID3.textContent = info.soilsList[2]._id;
                soilVal3.textContent = info.soilsList[2]._soil;
                soilDate3.textContent = info.soilsList[2].datetime;

                //configure states of buttons
                var newestToggle = info.togglesList[0]
                switch(newestToggle._value) {
                    case "1":
                        document.getElementById("toggleButton").disabled = true;
                        document.getElementById("autoButton").value="AUTO OFF";
                        document.getElementById("toggleButton").value="MANUAL ON"
                        break;
                    case "2":
                        document.getElementById("toggleButton").disabled = false;
                        document.getElementById("toggleButton").value="MANUAL ON";
                        break;
                    case "3":
                        document.getElementById("toggleButton").disabled = false;
                        document.getElementById("toggleButton").value="MANUAL OFF";
                        break;
                }
                
                //check if information received exceeded certain limits
                
                var newestTemp = info.tempsList[0]
                tempUpdate.style.color = (newestTemp._temp >= 60) ? "#ff0000 " : "white";

                var newestHumid = info.humidsList[0]
                humidUpdate.style.color = (newestHumid._humidity >= 100) ? "#ff0000 " : "white";

                var newestSoil = info.soilsList[0]
                soilUpdate.style.color = (newestSoil._soil <= 10) ? "#ff0000 " : "white";
               

            })
        </script>
        <script>
            function toggleToggle(button)
            {
                if(document.getElementById("toggleButton").value=="MANUAL OFF"){
                document.getElementById("toggleButton").value="MANUAL ON";}

                else if(document.getElementById("toggleButton").value=="MANUAL ON"){
                document.getElementById("toggleButton").value="MANUAL OFF";}

            }
            function toggleAuto(button){
                
                if(document.getElementById("autoButton").value=="AUTO OFF"){
                document.getElementById("autoButton").value="AUTO ON";
                
                }

                else if(document.getElementById("autoButton").value=="AUTO ON"){
                document.getElementById("autoButton").value="AUTO OFF";
                }
                document.getElementById("toggleButton").disabled = !document.getElementById("toggleButton").disabled;
            }
        </script>
        
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="../js/raphael.min.js"></script>
        <script src="../js/morris.min.js"></script>
        <script src="../js/morris-data.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

    </body>
</html>
